<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="groupingexampleTest">
  -<groups>
-<run>
<exclude name="fruits"/>
<include name="icecream"/>
</run>
</groups>
    <classes>
      <class name="Selenium.Mavenproject.GroupingTest"/>
    </classes>
  </test> <!-- groupingexampleTest -->
</suite> <!-- Suite -->
